---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/me/player/recently-played?limit=1&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TEST_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "track" : {
              "album" : {
                "album_type" : "compilation",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/0LyfQWJT6nXafLPZqxe9Of"
                  },
                  "href" : "https://api.spotify.com/v1/artists/0LyfQWJT6nXafLPZqxe9Of",
                  "id" : "0LyfQWJT6nXafLPZqxe9Of",
                  "name" : "Various Artists",
                  "type" : "artist",
                  "uri" : "spotify:artist:0LyfQWJT6nXafLPZqxe9Of"
                } ],
                "available_markets" : [ "AD", "AE", "AR", "AT", "AU", "BE", "BG", "BH", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IS", "IT", "JO", "JP", "KW", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "SA", "SE", "SG", "SK", "SV", "TH", "TN", "TR", "TW", "US", "UY", "VN", "ZA" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/1k7WkNHGPNPnri2tsowvtg"
                },
                "href" : "https://api.spotify.com/v1/albums/1k7WkNHGPNPnri2tsowvtg",
                "id" : "1k7WkNHGPNPnri2tsowvtg",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/3e06dc46b19b83ba87a5f8ef2eb0d837b74a7fbb",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/516d83d5a58c4fd7334d3d2e61b81949c6d07f63",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/39a7bc1c70ce2377ac1d8ffd1f9b9b54f2b3b290",
                  "width" : 64
                } ],
                "name" : "70s 100 Hits",
                "release_date" : "2010-02-26",
                "release_date_precision" : "day",
                "total_tracks" : 100,
                "type" : "album",
                "uri" : "spotify:album:1k7WkNHGPNPnri2tsowvtg"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/2yrbLiuBmc9j81lTX3XUuI"
                },
                "href" : "https://api.spotify.com/v1/artists/2yrbLiuBmc9j81lTX3XUuI",
                "id" : "2yrbLiuBmc9j81lTX3XUuI",
                "name" : "The Jacksons",
                "type" : "artist",
                "uri" : "spotify:artist:2yrbLiuBmc9j81lTX3XUuI"
              } ],
              "available_markets" : [ "AD", "AE", "AR", "AT", "AU", "BE", "BG", "BH", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IS", "IT", "JO", "JP", "KW", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "SA", "SE", "SG", "SK", "SV", "TH", "TN", "TR", "TW", "US", "UY", "VN", "ZA" ],
              "disc_number" : 1,
              "duration_ms" : 214200,
              "explicit" : false,
              "external_ids" : {
                "isrc" : "USSM17801252"
              },
              "external_urls" : {
                "spotify" : "https://open.spotify.com/track/0bfmfUQQ291rU0BUxc33u0"
              },
              "href" : "https://api.spotify.com/v1/tracks/0bfmfUQQ291rU0BUxc33u0",
              "id" : "0bfmfUQQ291rU0BUxc33u0",
              "is_local" : false,
              "name" : "Blame It on the Boogie",
              "popularity" : 42,
              "preview_url" : "https://p.scdn.co/mp3-preview/6800be39a47aa34ccacca76ae8bbd25258bf5cc5?cid=<SPOTIFY_CLIENT_ID>",
              "track_number" : 1,
              "type" : "track",
              "uri" : "spotify:track:0bfmfUQQ291rU0BUxc33u0"
            },
            "played_at" : "2019-02-18T21:18:41.654Z",
            "context" : {
              "uri" : "spotify:album:1k7WkNHGPNPnri2tsowvtg",
              "external_urls" : {
                "spotify" : "https://open.spotify.com/album/1k7WkNHGPNPnri2tsowvtg"
              },
              "href" : "https://api.spotify.com/v1/albums/1k7WkNHGPNPnri2tsowvtg",
              "type" : "album"
            }
          } ],
          "next" : "https://api.spotify.com/v1/me/player/recently-played?before=1550524721654&limit=1&type=track",
          "cursors" : {
            "after" : "1550524721654",
            "before" : "1550524721654"
          },
          "limit" : 1,
          "href" : "https://api.spotify.com/v1/me/player/recently-played?limit=1&type=track"
        }
  recorded_at: Mon, 18 Feb 2019 21:20:02 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/tracks/0bfmfUQQ291rU0BUxc33u0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TEST_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "album" : {
            "album_type" : "compilation",
            "artists" : [ [...]
