---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/tracks/6MNVXCCvHKUmGvEhJerySY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TEST_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "album" : {
            "album_type" : "single",
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/67nwj3Y5sZQLl72VNUHEYE"
              },
              "href" : "https://api.spotify.com/v1/artists/67nwj3Y5sZQLl72VNUHEYE",
              "id" : "67nwj3Y5sZQLl72VNUHEYE",
              "name" : "Wale",
              "type" : "artist",
              "uri" : "spotify:artist:67nwj3Y5sZQLl72VNUHEYE"
            } ],
            "available_markets" : [ "AD", "AE", "AR", "AT", "AU", "BE", "BG", "BH", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IS", "IT", "JO", "JP", "KW", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "SA", "SE", "SG", "SK", "SV", "TH", "TN", "TR", "TW", "US", "UY", "VN", "ZA" ],
            "external_urls" : {
              "spotify" : "https://open.spotify.com/album/3fWW02bLGofxjuDqS7ZToq"
            },
            "href" : "https://api.spotify.com/v1/albums/3fWW02bLGofxjuDqS7ZToq",
            "id" : "3fWW02bLGofxjuDqS7ZToq",
            "images" : [ {
              "height" : 640,
              "url" : "https://i.scdn.co/image/8bdc15fc6b07ce7b3f28da917791e43f190c454a",
              "width" : 640
            }, {
              "height" : 300,
              "url" : "https://i.scdn.co/image/f27674827151f6b1cbe5e682ba4c838a9807a135",
              "width" : 300
            }, {
              "height" : 64,
              "url" : "https://i.scdn.co/image/a5a9729edcd54fd1e53f6a097f3e8a85b00b97a0",
              "width" : 64
            } ],
            "name" : "Winter Wars",
            "release_date" : "2018-12-21",
            "release_date_precision" : "day",
            "total_tracks" : 1,
            "type" : "album",
            "uri" : "spotify:album:3fWW02bLGofxjuDqS7ZToq"
          },
          "artists" : [ {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/artist/67nwj3Y5sZQLl72VNUHEYE"
            },
            "href" : "https://api.spotify.com/v1/artists/67nwj3Y5sZQLl72VNUHEYE",
            "id" : "67nwj3Y5sZQLl72VNUHEYE",
            "name" : "Wale",
            "type" : "artist",
            "uri" : "spotify:artist:67nwj3Y5sZQLl72VNUHEYE"
          } ],
          "available_markets" : [ "AD", "AE", "AR", "AT", "AU", "BE", "BG", "BH", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IS", "IT", "JO", "JP", "KW", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "SA", "SE", "SG", "SK", "SV", "TH", "TN", "TR", "TW", "US", "UY", "VN", "ZA" ],
          "disc_number" : 1,
          "duration_ms" : 221353,
          "explicit" : true,
          "external_ids" : {
            "isrc" : "USWB11803384"
          },
          "external_urls" : {
            "spotify" : "https://open.spotify.com/track/6MNVXCCvHKUmGvEhJerySY"
          },
          "href" : "https://api.spotify.com/v1/tracks/6MNVXCCvHKUmGvEhJerySY",
          "id" : "6MNVXCCvHKUmGvEhJerySY",
          "is_local" : false,
          "name" : "Winter Wars",
          "popularity" : 57,
          "preview_url" : "https://p.scdn.co/mp3-preview/091863fdf976c390852a2206f318c851f09ea25c?cid=<SPOTIFY_CLIENT_ID>",
          "track_number" : 1,
          "type" : "track",
          "uri" : "spotify:track:6MNVXCCvHKUmGvEhJerySY"
        }
  recorded_at: Thu, 21 Feb 2019 17:32:20 GMT
recorded_with: VCR 4.0.0
