---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/me/top/tracks?limit=5&time_range=short_term
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TEST_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "album" : {
              "album_type" : "ALBUM",
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/2YZyLoL8N0Wb9xBt1NhZWg"
                },
                "href" : "https://api.spotify.com/v1/artists/2YZyLoL8N0Wb9xBt1NhZWg",
                "id" : "2YZyLoL8N0Wb9xBt1NhZWg",
                "name" : "Kendrick Lamar",
                "type" : "artist",
                "uri" : "spotify:artist:2YZyLoL8N0Wb9xBt1NhZWg"
              } ],
              "available_markets" : [ "AD", "AE", "AR", "AT", "AU", "BE", "BG", "BH", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IS", "IT", "JO", "JP", "KW", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "SA", "SE", "SG", "SK", "SV", "TH", "TN", "TR", "TW", "US", "UY", "VN", "ZA" ],
              "external_urls" : {
                "spotify" : "https://open.spotify.com/album/4alcGHjstaALJHHiljfy3H"
              },
              "href" : "https://api.spotify.com/v1/albums/4alcGHjstaALJHHiljfy3H",
              "id" : "4alcGHjstaALJHHiljfy3H",
              "images" : [ {
                "height" : 640,
                "url" : "https://i.scdn.co/image/818504d2bfa2eb9a5f3e1122573f1e407a2407cb",
                "width" : 640
              }, {
                "height" : 300,
                "url" : "https://i.scdn.co/image/31c60fc3a707a9230931e0719df87dfacdfe39d2",
                "width" : 300
              }, {
                "height" : 64,
                "url" : "https://i.scdn.co/image/ed3547bae5ea3a0b6e2e37b273d7f2ca027c7cea",
                "width" : 64
              } ],
              "name" : "DAMN. COLLECTORS EDITION.",
              "release_date" : "2017-12-08",
              "release_date_precision" : "day",
              "total_tracks" : 14,
              "type" : "album",
              "uri" : "spotify:album:4alcGHjstaALJHHiljfy3H"
            },
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/2YZyLoL8N0Wb9xBt1NhZWg"
              },
              "href" : "https://api.spotify.com/v1/artists/2YZyLoL8N0Wb9xBt1NhZWg",
              "id" : "2YZyLoL8N0Wb9xBt1NhZWg",
              "name" : "Kendrick Lamar",
              "type" : "artist",
              "uri" : "spotify:artist:2YZyLoL8N0Wb9xBt1NhZWg"
            } ],
            "available_markets" : [ "AD", "AE", "AR", "AT", "AU", "BE", "BG", "BH", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IS", "IT", "JO", "JP", "KW", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "SA", "SE", "SG", "SK", "SV", "TH", "TN", "TR", "TW", "US", "UY", "VN", "ZA" ],
            "disc_number" : 1,
            "duration_ms" : 214826,
            "explicit" : true,
            "external_ids" : {
              "isrc" : "USUM71703082"
            },
            "external_urls" : {
              "spotify" : "https://open.spotify.com/track/3hKPfWwm32Nv7Xj57lrxeC"
            },
            "href" : "https://api.spotify.com/v1/tracks/3hKPfWwm32Nv7Xj57lrxeC",
            "id" : "3hKPfWwm32Nv7Xj57lrxeC",
            "is_local" : false,
            "name" : "FEEL.",
            "popularity" : 47,
            "preview_url" : "https://p.scdn.co/mp3-preview/c550cf0f23e836b0334595c82af28ba18ce6a55b?cid=<SPOTIFY_CLIENT_ID>",
            "track_number" : 10,
            "type" : "track",
            "uri" : "spotify:track:3hKPfWwm32Nv7Xj57lrxeC"
          }, {
            "album" : {
              "album_type" : "ALBUM",
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/319yZVtYM9MBGqmSQnMyY6"
                },
                "href" : "https://api.spotify.com/v1/artists/319yZVtYM9MBGqmSQnMyY6",
                "id" : "319yZVtYM9MBGqmSQnMyY6",
                "name"[...]
