---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/me/top/artists?limit=5&time_range=short_term
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TEST_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/artist/51Pn4gGnZuyOMDfIT1Zy3N"
            },
            "followers" : {
              "href" : null,
              "total" : 239996
            },
            "genres" : [ "deep underground hip hop", "hip hop", "rap", "underground hip hop" ],
            "href" : "https://api.spotify.com/v1/artists/51Pn4gGnZuyOMDfIT1Zy3N",
            "id" : "51Pn4gGnZuyOMDfIT1Zy3N",
            "images" : [ {
              "height" : 640,
              "url" : "https://i.scdn.co/image/93f1723647435b9b14f956233a27fc7b0876c3a3",
              "width" : 640
            }, {
              "height" : 320,
              "url" : "https://i.scdn.co/image/e68aa738a1d2b364f3fe9db993b695ba18759913",
              "width" : 320
            }, {
              "height" : 160,
              "url" : "https://i.scdn.co/image/54ef48881c5eeb2abe7406c54621a5b8d0ad632f",
              "width" : 160
            } ],
            "name" : "The Underachievers",
            "popularity" : 57,
            "type" : "artist",
            "uri" : "spotify:artist:51Pn4gGnZuyOMDfIT1Zy3N"
          }, {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/artist/0GzsRlVbRZ1j4rkTlRNRXW"
            },
            "followers" : {
              "href" : null,
              "total" : 6164
            },
            "genres" : [ ],
            "href" : "https://api.spotify.com/v1/artists/0GzsRlVbRZ1j4rkTlRNRXW",
            "id" : "0GzsRlVbRZ1j4rkTlRNRXW",
            "images" : [ {
 [...]
