---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/me/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TEST_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "country" : "US",
          "display_name" : null,
          "email" : "plash13556@yahoo.com",
          "external_urls" : {
            "spotify" : "https://open.spotify.com/user/12184696969"
          },
          "followers" : {
            "href" : null,
            "total" : 34
          },
          "href" : "https://api.spotify.com/v1/users/12184696969",
          "id" : "12184696969",
          "images" : [ ],
          "product" : "premium",
          "type" : "user",
          "uri" : "spotify:user:12184696969"
        }
  recorded_at: Sat, 16 Feb 2019 18:55:27 GMT
recorded_with: VCR 4.0.0
