---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/me/top/artists?limit=5&time_range=short_term
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TEST_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/artist/51Pn4gGnZuyOMDfIT1Zy3N"
            },
            "followers" : {
              "href" : null,
              "total" : 239994
            },
            "genres" : [ "deep underground hip hop", "hip hop", "rap", "underground hip hop" ],
            "href" : "https://api.spotify.com/v1/artists/51Pn4gGnZuyOMDfIT1Zy3N",
            "id" : "51Pn4gGnZuyOMDfIT1Zy3N",
            "images" : [ {
              "height" : 640,
              "url" : "https://i.scdn.co/image/93f1723647435b9b14f956233a27fc7b0876c3a3",
              "width" : 640
            }, {
              "height" : 320,
              "url" : "https://i.scdn.co/image/e68aa738a1d2b364f3fe9db993b695ba18759913",
              "width" : 320
            }, {
              "height" : 160,
              "url" : "https://i.scdn.co/image/54ef48881c5eeb2abe7406c54621a5b8d0ad632f",
              "width" : 160
            } ],
            "name" : "The Underachievers",
            "popularity" : 57,
            "type" : "artist",
            "uri" : "spotify:artist:51Pn4gGnZuyOMDfIT1Zy3N"
          }, {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/artist/0GzsRlVbRZ1j4rkTlRNRXW"
            },
            "followers" : {
              "href" : null,
              "total" : 6164
            },
            "genres" : [ ],
            "href" : "https://api.spotify.com/v1/artists/0GzsRlVbRZ1j4rkTlRNRXW",
            "id" : "0GzsRlVbRZ1j4rkTlRNRXW",
            "images" : [ {
 [...]
- request:
    method: get
    uri: https://api.spotify.com/v1/me/player/recently-played?limit=1&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TEST_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "track" : {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/1RlBttuJAY33jcaL1TOlUw"
                  },
                  "href" : "https://api.spotify.com/v1/artists/1RlBttuJAY33jcaL1TOlUw",
                  "id" : "1RlBttuJAY33jcaL1TOlUw",
                  "name" : "AKTHESAVIOR",
                  "type" : "artist",
                  "uri" : "spotify:artist:1RlBttuJAY33jcaL1TOlUw"
                } ],
                "available_markets" : [ "AD", "AE", "AR", "AT", "AU", "BE", "BG", "BH", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IS", "IT", "JO", "JP", "KW", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "SA", "SE", "SG", "SK", "SV", "TH", "TN", "TR", "TW", "US", "UY", "VN", "ZA" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/4SAdM6o4jVHevuPfTql4i1"
                },
                "href" : "https://api.spotify.com/v1/albums/4SAdM6o4jVHevuPfTql4i1",
                "id" : "4SAdM6o4jVHevuPfTql4i1",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/05a232bc32ce6473fec34437715e3033cedf886f",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/47c62d78e0163360532e565321fc9f335c9cfc20",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/5eacd1d0c5660c8d03a50e0ccaebcc84547487cc",
                  "width" : 64
                } ],
                "name" : "Blessings In The Grey 2",
                "release_date" : "2016-11-11",
                "release_date_precision" : "day",
                "total_tracks" : 12,
                "type" : "album",
                "uri" : "spotify:album:4SAdM6o4jVHevuPfTql4i1"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/1RlBttuJAY33jcaL1TOlUw"
                },
                "href" : "https://api.spotify.com/v1/artists/1RlBttuJAY33jcaL1TOlUw",
                "id" : "1RlBttuJAY33jcaL1TOlUw",
                "name" : "AKTHESAVIOR",
                "type" : "artist",
                "uri" : "spotify:artist:1RlBttuJAY33jcaL1TOlUw"
              } ],
              "available_markets" : [ "AD", "AE", "AR", "AT", "AU", "BE", "BG", "BH", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IS", "IT", "JO", "JP", "KW", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "SA", "SE", "SG", "SK", "SV", "TH", "TN", "TR", "TW", "US", "UY", "VN", "ZA" ],
              "disc_number" : 1,
              "duration_ms" : 155825,
              "explicit" : true,
              "external_ids" : {
                "isrc" : "QMEU31615643"
              },
              "external_urls" : {
                "spotify" : "https://open.spotify.com/track/1UD1tYqtbO2o1EVUWJt83F"
              },
              "href" : "https://api.spotify.com/v1/tracks/1UD1tYqtbO2o1EVUWJt83F",
              "id" : "1UD1tYqtbO2o1EVUWJt83F",
              "is_local" : false,
              "name" : "Inner Peace",
              "popularity" : 34,
              "preview_url" : "https://p.scdn.co/mp3-preview/7e814a51153ce4f53f9dfef16511269a20f4d9a4?cid=<SPOTIFY_CLIENT_ID>",
              "track_number" : 5,
              "type" : "track",
              "uri" : "spotify:track:1UD1tYqtbO2o1EVUWJt83F"
            },
            "played_at" : "2019-02-15T15:34:33.451Z",
            "context" : null
          } ],
          "next" : "https://api.spotify.com/v1/me/player/recently-played?before=1550244873451&limit=1&type=track",
          "cursors" : {
            "after" : "1550244873451",
            "before" : "1550244873451"
          },
          "limit" : 1,
          "href" : "https://api.spotify.com/v1/me/player/recently-played?limit=1&type=track"
        }
  recorded_at: Fri, 15 Feb 2019 16:32:00 GMT
recorded_with: VCR 4.0.0
