---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/me/top/tracks?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TEST_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "album" : {
              "album_type" : "SINGLE",
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/3Aum3IcJEKuGsWVPBZnvyU"
                },
                "href" : "https://api.spotify.com/v1/artists/3Aum3IcJEKuGsWVPBZnvyU",
                "id" : "3Aum3IcJEKuGsWVPBZnvyU",
                "name" : "ROMderful",
                "type" : "artist",
                "uri" : "spotify:artist:3Aum3IcJEKuGsWVPBZnvyU"
              } ],
              "available_markets" : [ "AD", "AE", "AR", "AT", "AU", "BE", "BG", "BH", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IS", "IT", "JO", "JP", "KW", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "SA", "SE", "SG", "SK", "SV", "TH", "TN", "TR", "TW", "US", "UY", "VN", "ZA" ],
              "external_urls" : {
                "spotify" : "https://open.spotify.com/album/4G0GdZ07wqJzQFqckOtaMG"
              },
              "href" : "https://api.spotify.com/v1/albums/4G0GdZ07wqJzQFqckOtaMG",
              "id" : "4G0GdZ07wqJzQFqckOtaMG",
              "images" : [ {
                "height" : 640,
                "url" : "https://i.scdn.co/image/6acddaabdf354f8d5582f5f6dfd52b5dd754d18e",
                "width" : 640
              }, {
                "height" : 300,
                "url" : "https://i.scdn.co/image/771921c7b9b200176fc1c16c73542845ff2bf932",
                "width" : 300
              }, {
                "height" : 64,
                "url" : "https://i.scdn.co/image/22c5147fe612deb75529413b0c37610aca0e391b",
                "width" : 64
              } ],
              "name" : "SummerTimeTing",
              "release_date" : "2017-09-09",
              "release_date_precision" : "day",
              "total_tracks" : 1,
              "type" : "album",
              "uri" : "spotify:album:4G0GdZ07wqJzQFqckOtaMG"
            },
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/3Aum3IcJEKuGsWVPBZnvyU"
              },
              "href" : "https://api.spotify.com/v1/artists/3Aum3IcJEKuGsWVPBZnvyU",
              "id" : "3Aum3IcJEKuGsWVPBZnvyU",
              "name" : "ROMderful",
              "type" : "artist",
              "uri" : "s[...]
[...]
