---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: grant_type=refresh_token&refresh_token=<SPOTIFY_REQUEST_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NWYwNzM3MTE1NzVhNGMwM2I2NjJhYjgwY2M0MDFiMDI6NzFmYWE3ZTE5ZTVhNDM2MDhmODAyZWZhNjE5ZjIzNmU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQCYYUcQXpIIV9r1M3N1qZB6kzn9b_VdJ1vEkDqH_QFYNexCT7MZLUd5IcqwiMlJFkrAuyYNTSaCHSALm-iUQJSju0Si4dNKQLMbcaR7byTdQgHvdLexfdrZBAM0zt-gB8pmMW79zvf-rM4HdKd9v51cJ_eZb3spJOAqzAm0EzxnSwQQi86u9c1A","token_type":"Bearer","expires_in":3600,"scope":"playlist-read-private
        user-read-email user-read-recently-played user-read-private user-top-read"}'
  recorded_at: Mon, 18 Feb 2019 19:28:59 GMT
recorded_with: VCR 4.0.0
