---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/me/player/recently-played?limit=1&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TEST_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "track" : {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/46njgd2Rq9tZc4ZjeQMgbh"
                  },
                  "href" : "https://api.spotify.com/v1/artists/46njgd2Rq9tZc4ZjeQMgbh",
                  "id" : "46njgd2Rq9tZc4ZjeQMgbh",
                  "name" : "Boz Scaggs",
                  "type" : "artist",
                  "uri" : "spotify:artist:46njgd2Rq9tZc4ZjeQMgbh"
                } ],
                "available_markets" : [ "AD", "AE", "AR", "AT", "AU", "BE", "BG", "BH", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IS", "IT", "JO", "JP", "KW", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "SA", "SE", "SG", "SK", "SV", "TH", "TN", "TR", "TW", "US", "UY", "VN", "ZA" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/4i1GgeitxAC8fy48Cwcl54"
                },
                "href" : "https://api.spotify.com/v1/albums/4i1GgeitxAC8fy48Cwcl54",
                "id" : "4i1GgeitxAC8fy48Cwcl54",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/f6551a0ab898e6ba9526ab5ff59a66c20db05ef7",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/02eb0fc3aec9ef9e0dbe6ac2d5968df0e195cabb",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/8d3ff6a5b44301502d031584605e53c01a6387a6",
                  "width" : 64
                } ],
                "name" : "Boz Scaggs",
                "release_date" : "1969",
                "release_date_precision" : "year",
                "total_tracks" : 9,
                "type" : "album",
                "uri" : "spotify:album:4i1GgeitxAC8fy48Cwcl54"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/46njgd2Rq9tZc4ZjeQMgbh"
                },
                "href" : "https://api.spotify.com/v1/artists/46njgd2Rq9tZc4ZjeQMgbh",
                "id" : "46njgd2Rq9tZc4ZjeQMgbh",
                "name" : "Boz Scaggs",
                "type" : "artist",
                "uri" : "spotify:artist:46njgd2Rq9tZc4ZjeQMgbh"
              } ],
              "available_markets" : [ "AD", "AE", "AR", "AT", "AU", "BE", "BG", "BH", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IS", "IT", "JO", "JP", "KW", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "SA", "SE", "SG", "SK", "SV", "TH", "TN", "TR", "TW", "US", "UY", "VN", "ZA" ],
              "disc_number" : 1,
              "duration_ms" : 188240,
              "explicit" : false,
              "external_ids" : {
                "isrc" : "USAT20103799"
              },
              "external_urls" : {
                "spotify" : "https://open.spotify.com/track/6XTub0V1DpwX278rcn8fWx"
              },
              "href" : "https://api.spotify.com/v1/tracks/6XTub0V1DpwX278rcn8fWx",
              "id" : "6XTub0V1DpwX278rcn8fWx",
              "is_local" : false,
              "name" : "I'm Easy",
              "popularity" : 38,
              "preview_url" : "https://p.scdn.co/mp3-preview/1be7a0f36682b3c100ba3efbda4e9737b52d0ac4?cid=<SPOTIFY_CLIENT_ID>",
              "track_number" : 1,
              "type" : "track",
              "uri" : "spotify:track:6XTub0V1DpwX278rcn8fWx"
            },
            "played_at" : "2019-02-16T15:43:00.781Z",
            "context" : null
          } ],
          "next" : "https://api.spotify.com/v1/me/player/recently-played?before=1550331780781&limit=1&type=track",
          "cursors" : {
            "after" : "1550331780781",
            "before" : "1550331780781"
          },
          "limit" : 1,
          "href" : "https://api.spotify.com/v1/me/player/recently-played?limit=1&type=track"
        }
  recorded_at: Sat, 16 Feb 2019 18:55:26 GMT
recorded_with: VCR 4.0.0
