---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/?key=FGnMatFGzodPiEUVJrPH&secret=QqjOOwoHVwxVEjeimDqWvESMiFxUHnzx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Media-Type:
      - discogs.v2
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Used:
      - '2'
      X-Discogs-Ratelimit-Remaining:
      - '58'
    body:
      encoding: ASCII-8BIT
      string: '{"documentation_url": "http://www.discogs.com/developers/", "statistics":
        {"labels": 1329910, "releases": 10849835, "artists": 6114645}, "hello": "Welcome
        to the Discogs API.", "api_version": "v2"}'
  recorded_at: Mon, 18 Feb 2019 19:40:10 GMT
recorded_with: VCR 4.0.0
