---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/database/search?key=FGnMatFGzodPiEUVJrPH&q=%7B5099749994324%7D&secret=QqjOOwoHVwxVEjeimDqWvESMiFxUHnzx&%7B?barcode%7D&%7B?type%7D&%7Brelease%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Media-Type:
      - discogs.v2
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Used:
      - '1'
      X-Discogs-Ratelimit-Remaining:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"per_page": 50, "pages": 1, "page": 1, "urls": {},
        "items": 1}, "results": [{"style": ["Synth-pop"], "thumb": "https://img.discogs.com/oDbmebHfxnHozME_dgPpQhj1k-w=/fit-in/150x150/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-914104-1172296507.jpeg.jpg",
        "format": ["CD", "Album", "Reissue"], "country": "Europe", "barcode": ["5099749994324",
        "4999432000", "CB 701", "IFPI L551", "Sony Music  S4999432000-0101   11  A1",
        "Sony Music  S4999432000-0101   11  C4", "Sony Music  S4999432000-0101   11  A2",
        "IFPI 94K4", "IFPI 94K5", "IFPI 948N", "SACEM/ BIEM/SACD/SGDL", "LC 00199"],
        "uri": "/Cyndi-Lauper-Shes-So-Unusual/release/914104", "master_url": "https://api.discogs.com/masters/28859",
        "label": ["Epic", "Legacy", "Sony Music Entertainment Inc.", "Sony Music Entertainment
        Inc.", "Sony Music", "Record Plant, N.Y.C.", "Sterling Sound", "Sony Music"],
        "genre": ["Electronic", "Pop"], "catno": "499943 2", "community": {"want":
        68, "have": 180}, "year": "2000", "cover_image": "https://img.discogs.com/Kug8UlsaLEPLx1UGHCp03d5ToSQ=/fit-in/600x624/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-914104-1172296507.jpeg.jpg",
        "title": "Cyndi Lauper - She''s So Unusual", "resource_url": "https://api.discogs.com/releases/914104",
        "master_id": 28859, "type": "release", "id": 914104}]}'
  recorded_at: Mon, 18 Feb 2019 21:19:44 GMT
recorded_with: VCR 4.0.0
