---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/me/top/artists?limit=5&time_range=short_term
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TEST_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/artist/0GzsRlVbRZ1j4rkTlRNRXW"
            },
            "followers" : {
              "href" : null,
              "total" : 6210
            },
            "genres" : [ ],
            "href" : "https://api.spotify.com/v1/artists/0GzsRlVbRZ1j4rkTlRNRXW",
            "id" : "0GzsRlVbRZ1j4rkTlRNRXW",
            "images" : [ {
              "height" : 640,
              "url" : "https://i.scdn.co/image/ab0abf5abc1b030b0349fb5b244422a2284f915a",
              "width" : 640
            }, {
              "height" : 300,
              "url" : "https://i.scdn.co/image/45a0dad0f882ec9de0674166106133dfd3056a4f",
              "width" : 300
            }, {
              "height" : 64,
              "url" : "https://i.scdn.co/image/80dcb53ab25696b8b22ee23ede86213aee2cd187",
              "width" : 64
            } ],
            "name" : "Jarv",
            "popularity" : 36,
            "type" : "artist",
            "uri" : "spotify:artist:0GzsRlVbRZ1j4rkTlRNRXW"
          }, {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/artist/51Pn4gGnZuyOMDfIT1Zy3N"
            },
            "followers" : {
              "href" : null,
              "total" : 240620
            },
            "genres" : [ "deep underground hip hop", "hip hop", "rap", "underground hip hop" ],
            "href" : "https://api.spotify.com/v1/artists/51Pn4gGnZuyOMDfIT1Zy3N",
   [...]
- request:
    method: get
    uri: https://api.spotify.com/v1/me/top/tracks?limit=5&time_range=short_term
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TEST_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "album" : {
              "album_type" : "ALBUM",
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/29tVIQRnN6Jl97yd9fX6mH"
                },
                "href" : "https://api.spotify.com/v1/artists/29tVIQRnN6Jl97yd9fX6mH",
                "id" : "29tVIQRnN6Jl97yd9fX6mH",
                "name" : "Jarv & Thief",
                "type" : "artist",
                "uri" : "spotify:artist:29tVIQRnN6Jl97yd9fX6mH"
              } ],
              "available_markets" : [ "AD", "AE", "AR", "AT", "AU", "BE", "BG", "BH", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IS", "IT", "JO", "JP", "KW", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "SA", "SE", "SG", "SK", "SV", "TH", "TN", "TR", "TW", "US", "UY", "VN", "ZA" ],
              "external_urls" : {
                "spotify" : "https://open.spotify.com/album/2IIKlJPTehL3ExXyb2m7di"
              },
              "href" : "https://api.spotify.com/v1/albums/2IIKlJPTehL3ExXyb2m7di",
              "id" : "2IIKlJPTehL3ExXyb2m7di",
              "images" : [ {
                "height" : 640,
                "url" : "https://i.scdn.co/image/14a90353b127a335e91f23a4d05ba04fc3973e90",
                "width" : 640
              }, {
                "height" : 300,
                "url" : "https://i.scdn.co/image/8d511610b599dff9157fb6f4ac9efd7f23e53c32",
                "width" : 300
              }, {
                "height" : 64,
                "url" : "https://i.scdn.co/image/3356760900d7fdfce9377152048c8d7e4d102a01",
                "width" : 64
              } ],
              "name" : "The Boiler Room",
              "release_date" : "2017-01-01",
              "release_date_precision" : "day",
              "total_tracks" : 21,
              "type" : "album",
              "uri" : "spotify:album:2IIKlJPTehL3ExXyb2m7di"
            },
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/29tVIQRnN6Jl97yd9fX6mH"
              },
              "href" : "https://api.spotify.com/v1/artists/29tVIQRnN6Jl97yd9fX6mH",
              "id" : "29tVIQRnN6Jl97yd9fX6mH",
              "name" : "Jarv & Thief",
              "type" : "artist",
              "uri" : "spotify:artist:29tVIQRnN6Jl97yd9fX6mH"
            } ],
            "available_markets" : [ "AD", "AE", "AR", "AT", "AU", "BE", "BG", "BH", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IS", "IT", "JO", "JP", "KW", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "SA", "SE", "SG", "SK", "SV", "TH", "TN", "TR", "TW", "US", "UY", "VN", "ZA" ],
            "disc_number" : 1,
            "duration_ms" : 162240,
            "explicit" : true,
            "external_ids" : {
              "isrc" : "QM9A91620517"
            },
            "external_urls" : {
              "spotify" : "https://open.spotify.com/track/4cRIh4MGA1j3g7CZLn1Tnj"
            },
            "href" : "https://api.spotify.com/v1/tracks/4cRIh4MGA1j3g7CZLn1Tnj",
            "id" : "4cRIh4MGA1j3g7CZLn1Tnj",
            "is_local" : false,
            "name" : "Slack-Jaw",
            "popularity" : 41,
            "preview_url" : "https://p.scdn.co/mp3-preview/d4db27e3a1d08860a89aa0e28e7979b43f0fe465?cid=<SPOTIFY_CLIENT_ID>",
            "track_number" : 17,
            "type" : "track",
            "uri" : "spotify:track:4cRIh4MGA1j3g7CZLn1Tnj"
          }, {
            "album" : {
              "album_type" : "SINGLE",
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/67nwj3Y5sZQLl72VNUHEYE"
                },
                "href" : "https://api.spotify.com/v1/artists/67nwj3Y5sZQLl72VNUHEYE",
                "id" : "67nwj3Y5sZQLl72VNUHEYE",
                "name[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/me/player/recently-played?limit=1&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TEST_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "track" : {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/1ZHmdzn0KzjEICyi9v6oDU"
                  },
                  "href" : "https://api.spotify.com/v1/artists/1ZHmdzn0KzjEICyi9v6oDU",
                  "id" : "1ZHmdzn0KzjEICyi9v6oDU",
                  "name" : "Sahtyre",
                  "type" : "artist",
                  "uri" : "spotify:ar[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/tracks/26w5rYM0t0KWh9v0gY6Moe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TEST_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "album" : {
            "album_type" : "album",
            "artists" : [ {
    [...]
- request:
    method: get
    uri: https://api.spotify.com/v1/tracks/6MNVXCCvHKUmGvEhJerySY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TEST_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "album" : {
            "album_type" : "single",
            "artists" : [ {
   [...]
- request:
    method: get
    uri: https://api.spotify.com/v1/audio-features/6MNVXCCvHKUmGvEhJerySY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TEST_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "danceability" : 0.550,
          "energy" : 0.802,
          "key" : 1,
          "loudness" : -5.563,
          "mode" : 1,
          "speechiness" : 0.419,
          "acousticness" : 0.701,
          "instrumentalness" : 0,
          "liveness" : 0.298,
          "valence" : 0.789,
          "tempo" : 89.853,
          "type" : "audio_features",
          "id" : "6MNVXCCvHKUmGvEhJerySY",
          "uri" : "spotify:track:6MNVXCCvHKUmGvEhJerySY",
          "track_href" : "https://api.spotify.com/v1/tracks/6MNVXCCvHKUmGvEhJerySY",
          "analysis_url" : "https://api.spotify.com/v1/audio-analysis/6MNVXCCvHKUmGvEhJerySY",
          "duration_ms" : 221353,
          "time_signature" : 4
        }
  recorded_at: Thu, 21 Feb 2019 20:57:17 GMT
recorded_with: VCR 4.0.0
