-# %h1 The time is
-# = Time.now


.ui.huge.middle.aligned.center.aligned.grid
  -# .row
  -#   .center.aligned.six.wide.column
  -#     how now brown
  .huge.column
    .ui.teal.image.header
      %h2
        .login.content
          %i.huge.spotify.icon
          Click Below To Sign Up! 
          = link_to("/auth/spotify", class: "ui fluid large submit button") do
            Log in to Spotify
        
        
    