---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: grant_type=refresh_token&refresh_token=<SPOTIFY_REQUEST_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NWYwNzM3MTE1NzVhNGMwM2I2NjJhYjgwY2M0MDFiMDI6NzFmYWE3ZTE5ZTVhNDM2MDhmODAyZWZhNjE5ZjIzNmU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQBdelIz42miNXA_Hmcyp3-ShTykG65J790fGtlu_sTZx-eS59p59O6rJzfzni0yHxx6PcNqklHfUNkcFeatX_FhLE52CsraYyj5My8Ske3uNFrLihTfHRlOHvfdk4aWs2R5tl8ljg_-JJ8P_AcscdzuHHfWwAx-x1WUPqgytdHnlpPy9m7ckdf_","token_type":"Bearer","expires_in":3600,"scope":"playlist-read-private
        user-read-email user-read-recently-played user-read-private user-top-read"}'
  recorded_at: Mon, 18 Feb 2019 19:40:20 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/me/player/recently-played?limit=1&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBdelIz42miNXA_Hmcyp3-ShTykG65J790fGtlu_sTZx-eS59p59O6rJzfzni0yHxx6PcNqklHfUNkcFeatX_FhLE52CsraYyj5My8Ske3uNFrLihTfHRlOHvfdk4aWs2R5tl8ljg_-JJ8P_AcscdzuHHfWwAx-x1WUPqgytdHnlpPy9m7ckdf_
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "track" : {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/20qISvAhX20dpIbOOzGK3q"
                  },
                  "href" : "https://api.spotify.com/v1/artists/20qISvAhX20dpIbOOzGK3q",
                  "id" : "20qISvAhX20dpIbOOzGK3q",
                  "name" : "Nas",
                  "type" : "artist",
                  "uri" : "spotify:artist:20qISvAhX20dpIbOOzGK3q"
                } ],
                "available_markets" : [ "AD", "AE", "AR", "AT", "AU", "BE", "BG", "BH", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IS", "IT", "JO", "JP", "KW", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "SA", "SE", "SG", "SK", "SV", "TH", "TN", "TR", "TW", "US", "UY", "VN", "ZA" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/78Fgb88MY0ECc4GVMejqTg"
                },
                "href" : "https://api.spotify.com/v1/albums/78Fgb88MY0ECc4GVMejqTg",
                "id" : "78Fgb88MY0ECc4GVMejqTg",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/063cc795acad294c97dc660b662e8977b3a55737",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/1add3bb46d4f547456b64226488491cf0d46c444",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/ecaae84c6f58000393ddb28bf8d6a11273da0b21",
                  "width" : 64
                } ],
                "name" : "It Was Written",
                "release_date" : "1996-07-02",
                "release_date_precision" : "day",
                "total_tracks" : 14,
                "type" : "album",
                "uri" : "spotify:album:78Fgb88MY0ECc4GVMejqTg"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/20qISvAhX20dpIbOOzGK3q"
                },
                "href" : "https://api.spotify.com/v1/artists/20qISvAhX20dpIbOOzGK3q",
                "id" : "20qISvAhX20dpIbOOzGK3q",
                "name" : "Nas",
                "type" : "artist",
       [...]
- request:
    method: get
    uri: https://api.spotify.com/v1/tracks/5PQmSHzWnlgG4EBuIqjac2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBdelIz42miNXA_Hmcyp3-ShTykG65J790fGtlu_sTZx-eS59p59O6rJzfzni0yHxx6PcNqklHfUNkcFeatX_FhLE52CsraYyj5My8Ske3uNFrLihTfHRlOHvfdk4aWs2R5tl8ljg_-JJ8P_AcscdzuHHfWwAx-x1WUPqgytdHnlpPy9m7ckdf_
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; char[...]
