---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: grant_type=refresh_token&refresh_token=<SPOTIFY_REQUEST_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NWYwNzM3MTE1NzVhNGMwM2I2NjJhYjgwY2M0MDFiMDI6NzFmYWE3ZTE5ZTVhNDM2MDhmODAyZWZhNjE5ZjIzNmU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQABWQiL4_f5UIqPAsU4biN0l_8-zWrCTc_LqWn2l1tiRrBZ_lWZY9BxzsigZx0yq-IgbyexC9MqJgvKcMZSKYrFDcrh4b_rrmnHxZz5yIryq2dVMoFXeydKR905geSR4zo9wQf1lGRouV3Z8WwIKrV9veNcJ5dF0IT9oEGOK7Kds_JEJ2s4p5Q4","token_type":"Bearer","expires_in":3600,"scope":"playlist-read-private
        user-read-email user-read-recently-played user-read-private user-top-read"}'
  recorded_at: Mon, 18 Feb 2019 19:40:19 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/me/top/artists?limit=5&time_range=short_term
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQABWQiL4_f5UIqPAsU4biN0l_8-zWrCTc_LqWn2l1tiRrBZ_lWZY9BxzsigZx0yq-IgbyexC9MqJgvKcMZSKYrFDcrh4b_rrmnHxZz5yIryq2dVMoFXeydKR905geSR4zo9wQf1lGRouV3Z8WwIKrV9veNcJ5dF0IT9oEGOK7Kds_JEJ2s4p5Q4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/artist/2YZyLoL8N0Wb9xBt1NhZWg"
            },
            "followers" : {
              "href" : null,
              "total" : 11847213
            },
            "genres" : [ "conscious hip hop", "hip hop", "pop rap", "rap", "west coast rap" ],
            "href" : "https://api.spotify.com/v1/artists/2YZyLoL8N0Wb9xBt1NhZWg",
            "id" : "2YZyLoL8N0Wb9xBt1NhZWg",
            "images" : [ {
              "height" : 640,
              "url" : "https://i.scdn.co/image/3a836196bfb341f736c7fe2704fb75de53f8dfbb",
              "width" : 640
            }, {
              "height" : 320,
              "url" : "https://i.scdn.co/image/5259c0496329b3f608a1ae0edb799cd2f8451acc",
              "width" : 320
            }, {
              "height" : 160,
              "url" : "https://i.scdn.co/image/b772a78d4cb192268d6f601a78f21044c17d6dda",
              "width" : 160
            } ],
            "name" : "Kendrick Lamar",
            "popularity" : 89,
            "type" : "artist",
            "uri" : "spotify:artist:2YZyLoL8N0Wb9xBt1NhZWg"
          }, {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/artist/20qISvAhX20dpIbOOzGK3q"
            },
            "followers" : {
              "href" : null,
              "total" : 1480987
            },
            "genres" : [ "conscious hip hop", "east coast hip hop", "gangster rap", "hardcore hip hop", "hip hop", "pop rap", "rap" ],
            "href" : "https://api.spotify.com[...]
