---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: grant_type=refresh_token&refresh_token=<SPOTIFY_REQUEST_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NWYwNzM3MTE1NzVhNGMwM2I2NjJhYjgwY2M0MDFiMDI6NzFmYWE3ZTE5ZTVhNDM2MDhmODAyZWZhNjE5ZjIzNmU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQAFFnC1anof6nESKy8apgoZaZtMovt9zu4hxYeTXhnrFh9Mmxpjdl_emFdf9hUGqX1CtQSlS3tO5ZQ0JS4-DC0V_1dooCmWz9xt5yXobzJ0N03i0tEllPNTJxGrCcRMDMBV_Y-gg3dicRds0u6pwfrYFLSQpY7iu8BUHRFTyYBPR7RJBop1-Tbf","token_type":"Bearer","expires_in":3600,"scope":"playlist-read-private
        user-read-email user-read-recently-played user-read-private user-top-read"}'
  recorded_at: Mon, 18 Feb 2019 22:17:27 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/me/player/recently-played?limit=1&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQAFFnC1anof6nESKy8apgoZaZtMovt9zu4hxYeTXhnrFh9Mmxpjdl_emFdf9hUGqX1CtQSlS3tO5ZQ0JS4-DC0V_1dooCmWz9xt5yXobzJ0N03i0tEllPNTJxGrCcRMDMBV_Y-gg3dicRds0u6pwfrYFLSQpY7iu8BUHRFTyYBPR7RJBop1-Tbf
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "track" : {
              "album" : {
                "album_type" : "compilation",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/0LyfQWJT6nXafLPZqxe9Of"
                  },
                  "href" : "https://api.spotify.com/v1/artists/0LyfQWJT6nXafLPZqxe9Of",
                  "id" : "0LyfQWJT6nXafLPZqxe9Of",
                  "name" : "Various Artists",
                  "type" : "artist",
                  "uri" : "spotify:artist:0LyfQWJT6nXafLPZqxe9Of"
                } ],
                "available_markets" : [ "AD", "AE", "AR", "AT", "AU", "BE", "BG", "BH", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IS", "IT", "JO", "JP", "KW", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "SA", "SE", "SG", "SK", "SV", "TH", "TN", "TR", "TW", "US", "UY", "VN", "ZA" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/1k7WkNHGPNPnri2tsowvtg"
                },
                "href" : "https://api.spotify.com/v1/albums/1k7WkNHGPNPnri2tsowvtg",
                "id" : "1k7WkNHGPNPnri2tsowvtg",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/3e06dc46b19b83ba87a5f8ef2eb0d837b74a7fbb",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/516d83d5a58c4fd7334d3d2e61b81949c6d07f63",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/39a7bc1c70ce2377ac1d8ffd1f9b9b54f2b3b290",
                  "width" : 64
                } ],
                "name" : "70s 100 Hits",
                "release_date" : "2010-02-26",
                "release_date_precision" : "day",
                "total_tracks" : 100,
                "type" : "album",
                "uri" : "spotify:album:1k7WkNHGPNPnri2tsowvtg"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/32vWCbZh0xZ4o9gkz4PsEU"
                },
                "href" : "https://api.spotify.com/v1/artists/32vWCbZh0xZ4o9gkz4PsEU",
                "id" : "32vWCbZh0xZ4o9gkz4PsEU",
                "name" : "Dolly Parton",
                "type" : "artist",
                "uri" : "spotify:artist:32vWCbZh0xZ4o9gkz4PsEU"
              } ],
              "available_markets" : [ "AD", "AE", "AR", "AT", "AU", "BE", "BG", "BH", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IS", "IT", "JO", "JP", "KW", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "SA", "SE", "SG", "SK", "SV", "TH", "TN", "TR", "TW", "US", "UY", "VN", "ZA" ],
              "disc_number" : 1,
              "duration_ms" : 161400,
              "explicit" : false,
              "external_ids" : {
                "isrc" : "USRN19600096"
              },
              "external_urls" : {
                "spotify" : "https://open.spotify.com/track/6fz5BHXCOxGgE6GtDhHQ1E"
              },
              "href" : "https://api.spotify.com/v1/tracks/6fz5BHXCOxGgE6GtDhHQ1E",
              "id" : "6fz5BHXCOxGgE6GtDhHQ1E",
              "is_local" : false,
              "name" : "Jolene",
              "popularity" : 33,
              "preview_url" : "https://p.scdn.co/mp3-preview/006384bc64ae34b2b0c52951e1a73092f0038c85?cid=<SPOTIFY_CLIENT_ID>",
              "track_number" : 45,
              "type" : "track",
              "uri" : "spotify:track:6fz5BHXCOxGgE6GtDhHQ1E"
            },
            "played_at" : "2019-02-18T22:16:14.809Z",
            "context" : {
              "uri" : "spotify:album:1k7WkNHGPNPnri2tsowvtg",
              "external_urls" : {
                "spotify" : "https://open.spotify.com/album/1k7WkNHGPNPnri2tsowvtg"
              },
              "href" : "https://api.spotify.com/v1/albums/1k7WkNHGPNPnri2tsowvtg",
              "type" : "album"
            }
          } ],
          "next" : "https://api.spotify.com/v1/me/player/recently-played?before=1550528174809&limit=1&type=track",
          "cursors" : {
            "after" : "1550528174809",
            "before" : "1550528174809"
          },
          "limit" : 1,
          "href" : "https://api.spotify.com/v1/me/player/recently-played?limit=1&type=track"
        }
  recorded_at: Mon, 18 Feb 2019 22:17:27 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/tracks/6fz5BHXCOxGgE6GtDhHQ1E
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQAFFnC1anof6nESKy8apgoZaZtMovt9zu4hxYeTXhnrFh9Mmxpjdl_emFdf9hUGqX1CtQSlS3tO5ZQ0JS4-DC0V_1dooCmWz9xt5yXobzJ0N03i0tEllPNTJxGrCcRMDMBV_Y-gg3dicRds0u6pwfrYFLSQpY7iu8BUHRFTyYBPR7RJBop1-Tbf
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; char[...]
