---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/me/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TEST_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "country" : "US",
          "display_name" : null,
          "email" : "plash13556@yahoo.com",
          "external_urls" : {
            "spotify" : "https://open.spotify.com/user/12184696969"
          },
          "followers" : {
            "href" : null,
            "total" : 34
          },
          "href" : "https://api.spotify.com/v1/users/12184696969",
          "id" : "12184696969",
          "images" : [ ],
          "product" : "premium",
          "type" : "user",
          "uri" : "spotify:user:12184696969"
        }
  recorded_at: Sat, 16 Feb 2019 19:10:11 GMT
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: grant_type=refresh_token&refresh_token=<SPOTIFY_REQUEST_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NWYwNzM3MTE1NzVhNGMwM2I2NjJhYjgwY2M0MDFiMDI6NzFmYWE3ZTE5ZTVhNDM2MDhmODAyZWZhNjE5ZjIzNmU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQCkENdeEkuIOIJw3TZdG9MChibpVsaZJVQJjnuidnNV6AlM7P219-U5vZENmtZkiIcIgtHEBtDIlCLrjb4zHr_QihH7BavQeJ8x58Vef896i1aFo7bXh6tk9Q-z1-oLBIIidhKuFxqAIf-pUhzHcYG5_yTTBUOleFVCQuoo9hdMpuli60yK2ShR","token_type":"Bearer","expires_in":3600,"scope":"playlist-read-private
        user-read-email user-read-recently-played user-read-private user-top-read"}'
  recorded_at: Sat, 16 Feb 2019 19:10:11 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/me/top/artists?limit=5&time_range=short_term
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQCkENdeEkuIOIJw3TZdG9MChibpVsaZJVQJjnuidnNV6AlM7P219-U5vZENmtZkiIcIgtHEBtDIlCLrjb4zHr_QihH7BavQeJ8x58Vef896i1aFo7bXh6tk9Q-z1-oLBIIidhKuFxqAIf-pUhzHcYG5_yTTBUOleFVCQuoo9hdMpuli60yK2ShR
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/artist/2YZyLoL8N0Wb9xBt1NhZWg"
            },
            "followers" : {
              "href" : null,
              "total" : 11836553
            },
            "genres" : [ "conscious hip hop", "hip hop", "pop rap", "rap", "west coast rap" ],
            "href" : "https://api.spotify.com/v1/artists/2YZyLoL8N0Wb9xBt1NhZWg",
            "id" : "2YZyLoL8N0Wb9xBt1NhZWg",
            "images" : [ {
              "height" : 640,
              "url" : "https://i.scdn.co/image/3a836196bfb341f736c7fe2704fb75de53f8dfbb",
              "width" : 640
            }, {
              "height" : 320,
              "url" : "https://i.scdn.co/image/5259c0496329b3f608a1ae0edb799cd2f8451acc",
              "width" : 320
            }, {
              "height" : 160,
              "url" : "https://i.scdn.co/image/b772a78d4cb192268d6f601a78f21044c17d6dda",
              "width" : 160
            } ],
            "name" : "Kendrick Lamar",
            "popularity" : 89,
            "type" : "artist",
            "uri" : "spotify:artist:2YZyLoL8N0Wb9xBt1NhZWg"
          }, {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/artist/20qISvAhX20dpIbOOzGK3q"
            },
            "followers" : {
              "href" : null,
              "total" : 1479466
            },
            "genres" : [ "conscious hip hop", "east coast hip hop", "gangster rap", "hardcore hip hop", "hip hop", "pop rap", "rap" ],
            "href" :[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/me/player/recently-played?limit=1&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQCkENdeEkuIOIJw3TZdG9MChibpVsaZJVQJjnuidnNV6AlM7P219-U5vZENmtZkiIcIgtHEBtDIlCLrjb4zHr_QihH7BavQeJ8x58Vef896i1aFo7bXh6tk9Q-z1-oLBIIidhKuFxqAIf-pUhzHcYG5_yTTBUOleFVCQuoo9hdMpuli60yK2ShR
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "track" : {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/46njgd2Rq9tZc4ZjeQMgbh"
                  },
                  "href" : "https://api.spotify.com/v1/artists/46njgd2Rq9tZc4ZjeQMgbh",
                  "id" : "46njgd2Rq9tZc4ZjeQMgbh",
                  "name" : "Boz Scaggs",
                  "type" : "artist",
                  "uri" : "spotify:artist:46njgd2Rq9tZc4ZjeQMgbh"
                } ],
                "available_markets" : [ "AD", "AE", "AR", "AT", "AU", "BE", "BG", "BH", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IS", "IT", "JO", "JP", "KW", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "SA", "SE", "SG", "SK", "SV", "TH", "TN", "TR", "TW", "US", "UY", "VN", "ZA" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/4i1GgeitxAC8fy48Cwcl54"
                },
                "href" : "https://api.spotify.com/v1/albums/4i1GgeitxAC8fy48Cwcl54",
                "id" : "4i1GgeitxAC8fy48Cwcl54",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/f6551a0ab898e6ba9526ab5ff59a66c20db05ef7",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/02eb0fc3aec9ef9e0dbe6ac2d5968df0e195cabb",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/8d3ff6a5b44301502d031584605e53c01a6387a6",
                  "width" : 64
                } ],
                "name" : "Boz Scaggs",
                "release_date" : "1969",
                "release_date_precision" : "year",
                "total_tracks" : 9,
                "type" : "album",
                "uri" : "spotify:album:4i1GgeitxAC8fy48Cwcl54"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/46njgd2Rq9tZc4ZjeQMgbh"
                },
                "href" : "https://api.spotify.com/v1/artists/46njgd2Rq9tZc4ZjeQMgbh",
                "id" : "46njgd2Rq9tZc4ZjeQMgbh",
                "name" : "Boz Scaggs",
                "type" : "artist",
                "uri" : "spotify:artist:46njgd2Rq9tZc4ZjeQMgbh"
              } ],
              "available_markets" : [ "AD", "AE", "AR", "AT", "AU", "BE", "BG", "BH", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IS", "IT", "JO", "JP", "KW", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "SA", "SE", "SG", "SK", "SV", "TH", "TN", "TR", "TW", "US", "UY", "VN", "ZA" ],
              "disc_number" : 1,
              "duration_ms" : 188240,
              "explicit" : false,
              "external_ids" : {
                "isrc" : "USAT20103799"
              },
              "external_urls" : {
                "spotify" : "https://open.spotify.com/track/6XTub0V1DpwX278rcn8fWx"
              },
              "href" : "https://api.spotify.com/v1/tracks/6XTub0V1DpwX278rcn8fWx",
              "id" : "6XTub0V1DpwX278rcn8fWx",
              "is_local" : false,
              "name" : "I'm Easy",
              "popularity" : 38,
              "preview_url" : "https://p.scdn.co/mp3-preview/1be7a0f36682b3c100ba3efbda4e9737b52d0ac4?cid=<SPOTIFY_CLIENT_ID>",
              "track_number" : 1,
              "type" : "track",
              "uri" : "spotify:track:6XTub0V1DpwX278rcn8fWx"
            },
            "played_at" : "2019-02-16T15:43:00.781Z",
            "context" : null
          } ],
          "next" : "https://api.spotify.com/v1/me/player/recently-played?before=1550331780781&limit=1&type=track",
          "cursors" : {
            "after" : "1550331780781",
            "before" : "1550331780781"
          },
          "limit" : 1,
          "href" : "https://api.spotify.com/v1/me/player/recently-played?limit=1&type=track"
        }
  recorded_at: Sat, 16 Feb 2019 19:10:11 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/me/playlists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQCkENdeEkuIOIJw3TZdG9MChibpVsaZJVQJjnuidnNV6AlM7P219-U5vZENmtZkiIcIgtHEBtDIlCLrjb4zHr_QihH7BavQeJ8x58Vef896i1aFo7bXh6tk9Q-z1-oLBIIidhKuFxqAIf-pUhzHcYG5_yTTBUOleFVCQuoo9hdMpuli60yK2ShR
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-IjdhMjliMTQzZmFjOTAzYThmNGE4YjI5M2RjNTQ2MDg3Ig=="'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/users/12184696969/playlists?offset=0&limit=20",
          "items" : [ {
            "collaborative" : false,
            "external_urls" : {
              "spotify" : "https://open.spotify.com/playlist/3CewmVIvc2e1svDfY7FupH"
            },
            "href" : "https://api.spotify.com/v1/playlists/3CewmVIvc2e1svDfY7FupH",
            "id" : "3CewmVIvc2e1svDfY7FupH",
            "images" : [ ],
            "name" : "Eclectic",
            "owner" : {
              "display_name" : null,
              "external_urls" : {
                "spotify" : "https://open.spotify.com/user/12184696969"
              },
              "href" : "https://api.spotify.com/v1/users/12184696969",
              "id" : "12184696969",
              "type" : "user",
              "uri" : "spotify:user:12184696969"
            },
            "primary_color" : null,
            "public" : true,
            "snapshot_id" : "NSxmNTliOGY5ZWIwNTQzYjNiMjZhZWU3OTkwMDQ2MjkwNmM4Mzc5NTdk",
            "tracks" : {
              "href" : "https://api.spotify.com/v1/playlists/3CewmVIvc2e1svDfY7FupH/tracks",
              "total" : 4
            },
            "type" : "playlist",
            "uri" : "spotify:user:12184696969:playlist:3CewmVIvc2e1svDfY7FupH"
          }, {
            "collaborative" : false,
            "external_urls" : {
              "spotify" : "https://open.spotify.com/playlist/51GTWGAMzL5zt7oUPcxwne"
            },
            "href" : "https://api.spotify.com/v1/playlists/51GTWGAM[...]
