---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/me/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TEST_TOKEN>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      - application/json
      Www-Authenticate:
      - Bearer realm="spotify", error="invalid_token", error_description="The access
        token expired"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "error": {
            "status": 401,
            "message": "The access token expired"
          }
        }
  recorded_at: Tue, 19 Feb 2019 18:32:16 GMT
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: grant_type=refresh_token&refresh_token=<SPOTIFY_REQUEST_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NWYwNzM3MTE1NzVhNGMwM2I2NjJhYjgwY2M0MDFiMDI6NzFmYWE3ZTE5ZTVhNDM2MDhmODAyZWZhNjE5ZjIzNmU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQCIk43__QhO5OKL1ah26eValTUrmpV8wKSXWIGhfJMsfFOkfeeiA3cJHqjIkOeQIE-2pHS8CSz2rbNeyPAp0aIsaCGx1jCPQa--AvGEvjsTqbbLJKhkHy5RnQLDis0HwFfXWamNJadm0DtTPMdGRaWzKsE5ypwRBvbzYtMClEHURgNK4jnHzm4","token_type":"Bearer","expires_in":3600,"scope":"playlist-read-private
        user-read-email user-read-recently-played user-read-private user-top-read"}'
  recorded_at: Tue, 19 Feb 2019 18:32:16 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/me/top/artists?limit=5&time_range=short_term
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQCIk43__QhO5OKL1ah26eValTUrmpV8wKSXWIGhfJMsfFOkfeeiA3cJHqjIkOeQIE-2pHS8CSz2rbNeyPAp0aIsaCGx1jCPQa--AvGEvjsTqbbLJKhkHy5RnQLDis0HwFfXWamNJadm0DtTPMdGRaWzKsE5ypwRBvbzYtMClEHURgNK4jnHzm4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/artist/51Pn4gGnZuyOMDfIT1Zy3N"
            },
            "followers" : {
              "href" : null,
              "total" : 240376
            },
            "genres" : [ "deep underground hip hop", "hip hop", "rap", "underground hip hop" ],
            "href" : "https://api.spotify.com/v1/artists/51Pn4gGnZuyOMDfIT1Zy3N",
            "id" : "51Pn4gGnZuyOMDfIT1Zy3N",
            "images" : [ {
              "height" : 640,
              "url" : "https://i.scdn.co/image/93f1723647435b9b14f956233a27fc7b0876c3a3",
              "width" : 640
            }, {
              "height" : 320,
              "url" : "https://i.scdn.co/image/e68aa738a1d2b364f3fe9db993b695ba18759913",
              "width" : 320
            }, {
              "height" : 160,
              "url" : "https://i.scdn.co/image/54ef48881c5eeb2abe7406c54621a5b8d0ad632f",
              "width" : 160
            } ],
            "name" : "The Underachievers",
            "popularity" : 56,
            "type" : "artist",
            "uri" : "spotify:artist:51Pn4gGnZuyOMDfIT1Zy3N"
          }, {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/artist/0GzsRlVbRZ1j4rkTlRNRXW"
            },
            "followers" : {
              "href" : null,
              "total" : 6192
            },
            "genres" : [ ],
            "href" : "https://api.spotify.com/v1/artists/0GzsRlVbRZ1j4rkTlRNRXW",
            "id" : "0GzsRlVbRZ1j4rkTlRNRXW",
            "images" : [ {
 [...]
- request:
    method: get
    uri: https://api.spotify.com/v1/me/top/tracks?limit=5&time_range=short_term
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQCIk43__QhO5OKL1ah26eValTUrmpV8wKSXWIGhfJMsfFOkfeeiA3cJHqjIkOeQIE-2pHS8CSz2rbNeyPAp0aIsaCGx1jCPQa--AvGEvjsTqbbLJKhkHy5RnQLDis0HwFfXWamNJadm0DtTPMdGRaWzKsE5ypwRBvbzYtMClEHURgNK4jnHzm4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "album" : {
              "album_type" : "ALBUM",
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/29tVIQRnN6Jl97yd9fX6mH"
                },
                "href" : "https://api.spotify.com/v1/artists/29tVIQRnN6Jl97yd9fX6mH",
                "id" : "29tVIQRnN6Jl97yd9fX6mH",
                "name" : "Jarv & Thief",
                "type" : "artist",
                "uri" : "spotify:artist:29tVIQRnN6Jl97yd9fX6mH"
              } ],
              "available_markets" : [ "AD", "AE", "AR", "AT", "AU", "BE", "BG", "BH", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IS", "IT", "JO", "JP", "KW", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "SA", "SE", "SG", "SK", "SV", "TH", "TN", "TR", "TW", "US", "UY", "VN", "ZA" ],
              "external_urls" : {
                "spotify" : "https://open.spotify.com/album/2IIKlJPTehL3ExXyb2m7di"
              },
              "href" : "https://api.spotify.com/v1/albums/2IIKlJPTehL3ExXyb2m7di",
              "id" : "2IIKlJPTehL3ExXyb2m7di",
              "images" : [ {
                "height" : 640,
                "url" : "https://i.scdn.co/image/14a90353b127a335e91f23a4d05ba04fc3973e90",
                "width" : 640
              }, {
                "height" : 300,
                "url" : "https://i.scdn.co/image/8d511610b599dff9157fb6f4ac9efd7f23e53c32",
                "width" : 300
              }, {
                "height" : 64,
                "url" : "https://i.scdn.co/image/3356760900d7fdfce9377152048c8d7e4d102a01",
                "width" : 64
              } ],
              "name" : "The Boiler Room",
              "release_date" : "2017-01-01",
              "release_date_precision" : "day",
              "total_tracks" : 21,
              "type" : "album",
              "uri" : "spotify:album:2IIKlJPTehL3ExXyb2m7di"
            },
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/29tVIQRnN6Jl97yd9fX6mH"
              },
              "href" : "https://api.spotify.com/v1/artists/29tVIQRnN6Jl97yd9fX6mH",
              "id" : "29tVIQRnN6Jl97yd9fX6mH",
              "name" : "Jarv & Thief",
              "type" : "artist",
              "uri" : "spotify:artist:29tVIQRnN6Jl97yd9fX6mH"
            } ],
            "available_markets" : [ "AD", "AE", "AR", "AT", "AU", "BE", "BG", "BH", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IS", "IT", "JO", "JP", "KW", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "SA", "SE", "SG", "SK", "SV", "TH", "TN", "TR", "TW", "US", "UY", "VN", "ZA" ],
            "disc_number" : 1,
            "duration_ms" : 162240,
            "explicit" : true,
            "external_ids" : {
              "isrc" : "QM9A91620517"
            },
            "external_urls" : {
              "spotify" : "https://open.spotify.com/track/4cRIh4MGA1j3g7CZLn1Tnj"
            },
            "href" : "https://api.spotify.com/v1/tracks/4cRIh4MGA1j3g7CZLn1Tnj",
            "id" : "4cRIh4MGA1j3g7CZLn1Tnj",
            "is_local" : false,
            "name" : "Slack-Jaw",
            "popularity" : 41,
            "preview_url" : "https://p.scdn.co/mp3-preview/d4db27e3a1d08860a89aa0e28e7979b43f0fe465?cid=<SPOTIFY_CLIENT_ID>",
            "track_number" : 17,
            "type" : "track",
            "uri" : "spotify:track:4cRIh4MGA1j3g7CZLn1Tnj"
          }, {
            "album" : {
              "album_type" : "SINGLE",
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/67nwj3Y5sZQLl72VNUHEYE"
                },
                "href" : "https://api.spotify.com/v1/artists/67nwj3Y5sZQLl72VNUHEYE",
                "id" : "67nwj3Y5sZQLl72VNUHEYE",
                "name[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/me/player/recently-played?limit=1&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQCIk43__QhO5OKL1ah26eValTUrmpV8wKSXWIGhfJMsfFOkfeeiA3cJHqjIkOeQIE-2pHS8CSz2rbNeyPAp0aIsaCGx1jCPQa--AvGEvjsTqbbLJKhkHy5RnQLDis0HwFfXWamNJadm0DtTPMdGRaWzKsE5ypwRBvbzYtMClEHURgNK4jnHzm4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "track" : {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/0GzsRlVbRZ1j4rkTlRNRXW"
                  },
                  "href" : "https://api.spotify.com/v1/artists/0GzsRlVbRZ1j4rkTlRNRXW",
                  "id" : "0GzsRlVbRZ1j4rkTlRNRXW",
                  "name" : "Jarv",
                  "type" : "artist",
                  "uri" : "spotify:artis[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/tracks/2oUHMoh4Ix8yksBTGkWuwh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQCIk43__QhO5OKL1ah26eValTUrmpV8wKSXWIGhfJMsfFOkfeeiA3cJHqjIkOeQIE-2pHS8CSz2rbNeyPAp0aIsaCGx1jCPQa--AvGEvjsTqbbLJKhkHy5RnQLDis0HwFfXWamNJadm0DtTPMdGRaWzKsE5ypwRBvbzYtMClEHURgNK4jnHzm4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; chars[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/me/playlists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQCIk43__QhO5OKL1ah26eValTUrmpV8wKSXWIGhfJMsfFOkfeeiA3cJHqjIkOeQIE-2pHS8CSz2rbNeyPAp0aIsaCGx1jCPQa--AvGEvjsTqbbLJKhkHy5RnQLDis0HwFfXWamNJadm0DtTPMdGRaWzKsE5ypwRBvbzYtMClEHURgNK4jnHzm4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-IjJkZjM3MjdiNmI5OTE4NDNlZGFjMDE4NzM3ZTkxODA2Ig=="'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/users/1216333229/playlists?offset=0&limit=20",
          "items" : [ {
            "collaborative" : false,
            "external_urls" : {
              "spotify" : "https://open.spotify.com/playlist/6HlntQPWuHoFER2qhe5P7j"
            },
            "href" : "https://api.spotify.com/v1/playlists/6HlntQPWuHoFER2qhe5P7j",
            "id" : "6HlntQPWuHoFER2qhe5P7j",
            "images" : [ {
              "height" : null,
              "url" : "https://pl.scdn.co/images/pl/default/9367695fa5e309c01b0d95eda8ef52b87fdf4b86",
              "width" : null
            } ],
            "name" : "Pop Music 2019",
            "owner" : {
              "display_name" : "Trixie Loud",
              "external_urls" : {
                "spotify" : "https://open.spotify.com/user/xgdssz56lqbs7vdpwpgwul413"
              },
              "href" : "https://api.spotify.com/v1/users/xgdssz56lqbs7vdpwpgwul413",
              "id" : "xgdssz56lqbs7vdpwpgwul413",
              "type" : "user",
              "uri" : "spotify:user:xgdssz56lqbs7vdpwpgwul413"
            },
            "primary_color" : null,
            "public" : false,
            "snapshot_id" : "MTYyLDFkODY3MTkzOTAxMWE0MTM3NGJkYmMyZWU5YjE3ZWY5NzZiZDY4Y2Y=",
            "tracks" : {
              "href" : "https://api.spotify.com/v1/playlists/6HlntQPWuHoFER2qhe5P7j/tracks",
              "total" : 57
            },
            "type" : "playlist",
            "uri" : "spotify:user:xgdssz56lqbs7vdpwpgwul413:playlist:6HlntQPWuHoFER2qhe5P7j"
          }, {
            "collaborative" : false,
            "external_urls" : {
              "spotify" : "https://open.spotify.com/playlist/4eSY5htiDzoAFmmbam9WSR"
            },
            "href" : "https://api.spotify.com/v1/pla[...]
