---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/me/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TEST_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "country" : "US",
          "display_name" : null,
          "email" : "plash13556@yahoo.com",
          "external_urls" : {
            "spotify" : "https://open.spotify.com/user/12184696969"
          },
          "followers" : {
            "href" : null,
            "total" : 34
          },
          "href" : "https://api.spotify.com/v1/users/12184696969",
          "id" : "12184696969",
          "images" : [ ],
          "product" : "premium",
          "type" : "user",
          "uri" : "spotify:user:12184696969"
        }
  recorded_at: Mon, 18 Feb 2019 21:20:04 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/me/top/artists?limit=5&time_range=short_term
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TEST_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/artist/2YZyLoL8N0Wb9xBt1NhZWg"
            },
            "followers" : {
              "href" : null,
              "total" : 11847696
            },
            "genres" : [ "conscious hip hop", "hip hop", "pop rap", "rap", "west coast rap" ],
            "href" : "https://api.spotify.com/v1/artists/2YZyLoL8N0Wb9xBt1NhZWg",
            "id" : "2YZyLoL8N0Wb9xBt1NhZWg",
            "images" : [ {
              "height" : 640,
              "url" : "https://i.scdn.co/image/3a836196bfb341f736c7fe2704fb75de53f8dfbb",
              "width" : 640
            }, {
              "height" : 320,
              "url" : "https://i.scdn.co/image/5259c0496329b3f608a1ae0edb799cd2f8451acc",
              "width" : 320
            }, {
              "height" : 160,
              "url" : "https://i.scdn.co/image/b772a78d4cb192268d6f601a78f21044c17d6dda",
              "width" : 160
            } ],
            "name" : "Kendrick Lamar",
            "popularity" : 89,
            "type" : "artist",
            "uri" : "spotify:artist:2YZyLoL8N0Wb9xBt1NhZWg"
          }, {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/artist/20qISvAhX20dpIbOOzGK3q"
            },
            "followers" : {
              "href" : null,
              "total" : 1481063
            },
            "genres" : [ "conscious hip hop", "east coast hip hop", "gangster rap", "hardcore hip hop", "hip hop", "pop rap", "rap" ],
            "href" :[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/me/top/tracks?limit=5&time_range=short_term
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TEST_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "album" : {
              "album_type" : "ALBUM",
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/2YZyLoL8N0Wb9xBt1NhZWg"
                },
                "href" : "https://api.spotify.com/v1/artists/2YZyLoL8N0Wb9xBt1NhZWg",
                "id" : "2YZyLoL8N0Wb9xBt1NhZWg",
                "name" : "Kendrick Lamar",
                "type" : "artist",
                "uri" : "spotify:artist:2YZyLoL8N0Wb9xBt1NhZWg"
              } ],
              "available_markets" : [ "AD", "AE", "AR", "AT", "AU", "BE", "BG", "BH", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IS", "IT", "JO", "JP", "KW", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "SA", "SE", "SG", "SK", "SV", "TH", "TN", "TR", "TW", "US", "UY", "VN", "ZA" ],
              "external_urls" : {
                "spotify" : "https://open.spotify.com/album/4alcGHjstaALJHHiljfy3H"
              },
              "href" : "https://api.spotify.com/v1/albums/4alcGHjstaALJHHiljfy3H",
              "id" : "4alcGHjstaALJHHiljfy3H",
              "images" : [ {
                "height" : 640,
                "url" : "https://i.scdn.co/image/818504d2bfa2eb9a5f3e1122573f1e407a2407cb",
                "width" : 640
              }, {
                "height" : 300,
                "url" : "https://i.scdn.co/image/31c60fc3a707a9230931e0719df87dfacdfe39d2",
                "width" : 300
              }, {
                "height" : 64,
                "url" : "https://i.scdn.co/image/ed3547bae5ea3a0b6e2e37b273d7f2ca027c7cea",
                "width" : 64
              } ],
              "name" : "DAMN. COLLECTORS EDITION.",
              "release_date" : "2017-12-08",
              "release_date_precision" : "day",
              "total_tracks" : 14,
              "type" : "album",
              "uri" : "spotify:album:4alcGHjstaALJHHiljfy3H"
            },
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/2YZyLoL8N0Wb9xBt1NhZWg"
              },
              "href" : "https://api.spotify.com/v1/artists/2YZyLoL8N0Wb9xBt1NhZWg",
              "id" : "2YZyLoL8N0Wb9xBt1NhZWg",
              "name" : "Kendrick Lamar",
              "type" : "artist",
              "uri" : "spotify:artist:2YZyLoL8N0Wb9xBt1NhZWg"
            } ],
            "available_markets" : [ "AD", "AE", "AR", "AT", "AU", "BE", "BG", "BH", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IS", "IT", "JO", "JP", "KW", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "SA", "SE", "SG", "SK", "SV", "TH", "TN", "TR", "TW", "US", "UY", "VN", "ZA" ],
            "disc_number" : 1,
            "duration_ms" : 214826,
            "explicit" : true,
            "external_ids" : {
              "isrc" : "USUM71703082"
            },
            "external_urls" : {
              "spotify" : "https://open.spotify.com/track/3hKPfWwm32Nv7Xj57lrxeC"
            },
            "href" : "https://api.spotify.com/v1/tracks/3hKPfWwm32Nv7Xj57lrxeC",
            "id" : "3hKPfWwm32Nv7Xj57lrxeC",
            "is_local" : false,
            "name" : "FEEL.",
            "popularity" : 47,
            "preview_url" : "https://p.scdn.co/mp3-preview/c550cf0f23e836b0334595c82af28ba18ce6a55b?cid=<SPOTIFY_CLIENT_ID>",
            "track_number" : 10,
            "type" : "track",
            "uri" : "spotify:track:3hKPfWwm32Nv7Xj57lrxeC"
          }, {
            "album" : {
              "album_type" : "ALBUM",
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/319yZVtYM9MBGqmSQnMyY6"
                },
                "href" : "https://api.spotify.com/v1/artists/319yZVtYM9MBGqmSQnMyY6",
                "id" : "319yZVtYM9MBGqmSQnMyY6",
                "name"[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/me/player/recently-played?limit=1&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TEST_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "track" : {
              "album" : {
                "album_type" : "compilation",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/0LyfQWJT6nXafLPZqxe9Of"
                  },
                  "href" : "https://api.spotify.com/v1/artists/0LyfQWJT6nXafLPZqxe9Of",
                  "id" : "0LyfQWJT6nXafLPZqxe9Of",
                  "name" : "Various Artists",
                  "type" : "artist",
                  "uri"[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/tracks/0bfmfUQQ291rU0BUxc33u0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TEST_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "album" : {
            "album_type" : "compilation",
            "artists" : [ [...]
- request:
    method: get
    uri: https://api.spotify.com/v1/me/playlists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TEST_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-ImFmZWI5NjlmNTA2YTNlNDRiM2U0ZjUyYzNlM2IwOWJhIg=="'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/users/12184696969/playlists?offset=0&limit=20",
          "items" : [ {
            "collaborative" : false,
            "external_urls" : {
              "spotify" : "https://open.spotify.com/playlist/3CewmVIvc2e1svDfY7FupH"
            },
            "href" : "https://api.spotify.com/v1/playlists/3CewmVIvc2e1svDfY7FupH",
            "id" : "3CewmVIvc2e1svDfY7FupH",
            "images" : [ {
              "height" : 640,
              "url" : "https://mosaic.scdn.co/640/34a461c21d1a8b382380645bb765374497792eba6fc4c4fb5b3f7074367d327c60be464e914b8bc6a1e138712e36178d517042ab3475cc532922d1f5b3b97a6eef240a7b2214eff1a83901bd6e31f839",
              "width" : 640
            }, {
              "height" : 300,
              "url" : "https://mosaic.scdn.co/300/34a461c21d1a8b382380645bb765374497792eba6fc4c4fb5b3f7074367d327c60be464e914b8bc6a1e138712e36178d517042ab3475cc532922d1f5b3b97a6eef240a7b2214eff1a83901bd6e31f839",
              "width" : 300
            }, {
              "height" : 60,
              "url" : "https://mosaic.scdn.co/60/34a461c21d1a8b382380645bb765374497792eba6fc4c4fb5b3f7074367d327c60be464e914b8bc6a1e138712e36178d517042ab3475cc532922d1f5b3b97a6eef240a7b2214eff1a83901bd6e31f839",
              "width" : 60
            } ],
            "name" : "Eclectic",
            "owner" : {
              "display_name" : null,
              "external_urls" : {
                "spotify" : "https://open.spotify.com/user/12184696969"
              },
              "href" : "https://api.spotify.com/v1/users/12184696969",
              "id" : "12184696969",
              "type" : "user",
              "uri" : "spotify:user:12184696969"
            },
            "primary_color" : null,
            "public" : true,
            "snapshot_id" : "NSxmNTliOGY5ZWIwNTQzYjNiMjZhZWU3OTkwMDQ2MjkwNmM4Mzc5NTdk",
            "tracks" : {
              "href" : "https://api.spotify.com/v1/playlists/3CewmVIvc2e1svDfY7FupH/tracks",
              "total" : 4
            },
            "type" : "playlist",
            "uri" : "spotify:user:12184696969:playlist:3CewmVIvc2e1svDfY7FupH"
          }, {
            "collaborative" : false,
            "external_urls" : {
              "spotify" : "https://open.spotify.com/playlist/51GTWGAMzL5zt7oUPcxwne"
            },
            "href" : "https://api.spotify.com/v1/playlists/51GTWGAM[...]
[...]
